<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="includes/header"></th:block>

<!-- Begin Page Content -->
<div class="container-fluid">

	<div class="container-fluid">

		<!-- Page Heading -->
		<h1 class="h3 mb-4 text-gray-800">설정 비율</h1>
		<div class="card shadow mb-4">
			<div
				class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">자산</h6>
				<div class="dropdown no-arrow">
					<a class="dropdown-toggle" role="button" id="dropdownMenuLink"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
					</a>
					<div
						class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
						aria-labelledby="dropdownMenuLink">
						<div class="dropdown-header">EDIT</div>
						<a id="addAssetBtn" class="dropdown-item">자산 추가</a> <a
							id="editAssetBtn" class="dropdown-item">비율 수정</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6 mb-4">
						<div class="card border-left-primary shadow h-100 py-2">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<table id="assetTable" class="table table-bordered">
										<thead>
											<tr>
												<th>자산</th>
												<th>비율</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb-4">
						<div class="card border-left-primary shadow h-100 py-2">
							<div class="card-body">
								<div class="chart-pie pt-4">
									<canvas id="assetPieChart"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card shadow mb-4">
			<div
				class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">국가</h6>
				<div class="dropdown no-arrow">
					<a class="dropdown-toggle" href="#" role="button"
						id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> <i
						class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
					</a>
					<div
						class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
						aria-labelledby="dropdownMenuLink">
						<div class="dropdown-header">EDIT</div>
						<a id="addCountryBtn" class="dropdown-item">국가 추가</a> <a
							id="editCountryBtn" class="dropdown-item">비율 수정</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6 mb-4">
						<div class="card border-left-primary shadow h-100 py-2">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<table id="countryTable" class="table table-bordered">
										<thead>
											<tr>
												<th>국가</th>
												<th>비율</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb-4">
						<div class="card border-left-primary shadow h-100 py-2">
							<div class="card-body">
								<div class="chart-pie pt-4">
									<canvas id="countryPieChart"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.container-fluid -->


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/js/utils/chart-pie.js"></script>
<script type="text/javascript" src="/js/data/asset.js"></script>
<script type="text/javascript" src="/js/data/country.js"></script>
<script type="text/javascript" th:inline="javascript">

	//화면 초기화
	document.addEventListener("DOMContentLoaded", function() {

		// 자산 초기세팅
		assetService.getAssets(1, function(result) {
			console.log(result);
			setStatus("assetTable", "assetPieChart", result);
		}, function(error) {
			console.log(error);
			alert(error);
		});

		// 국가 초기세팅
		countryService.getCountries(1, function(result) {
			console.log(result);
			setStatus("countryTable", "countryPieChart", result);
		}, function(error) {
			console.log(error);
			alert(error);
		})
		
		// 모달창 이벤트 추가
		const addModal = $("#addModal");	//추가 모달 창
		const editModal = $("#editModal");	//수정 모달 창
		const addModalSubmitBtn = document.getElementById("addModalSubmitBtn");//추가 모달 Submit 버튼
		const editModalSubmitBtn = document.getElementById("editModalSubmitBtn");//수정 모달 Submit 버튼
		const editModalTbl = document.getElementById("editModalTable");//수정 모달 테이블
		
		// Asset 모달 이벤트 설정 //////////////////////////////////////////////////////////////////////////
		const addAssetBtn = document.getElementById("addAssetBtn");	//자산 추가 버튼
 		const editAssetBtn = document.getElementById("editAssetBtn");//자산 비율수정 버튼
 		
		addAssetBtn.addEventListener('click',function(){
			document.getElementById("addModalLabel").innerText="자산 추가";
			addModalSubmitBtn.addEventListener('click',addData);//add submit 버튼 -> addData()
			addModal.modal("show");
		});
 		
		editAssetBtn.addEventListener('click',function(){
			document.getElementById("editModalLabel").innerText="자산 수정";
			//edit 창 데이터 세팅
			assetService.getAssets(1, function(result){
				setEditModalData("asset",result);
			}, function(error){
				console.log(error);
				alert(error);
			});
			editModalSubmitBtn.addEventListener('click',modifyData);//edit submit 버튼 -> modifyData()
			editModal.modal("show");
		});
		/////////////////////////////////////////////////////////////////////////////////////////////////
		
		// Country 모달 이벤트 설정 ////////////////////////////////////////////////////////////////////////
		const addCountryBtn = document.getElementById("addCountryBtn");	//국가 추가 버튼
		const editCountryBtn = document.getElementById("editCountryBtn");//국가 비율수정 버튼
		
		addCountryBtn.addEventListener('click',function(){
			document.getElementById("addModalLabel").innerText="국가 추가";
			addModalSubmitBtn.addEventListener('click',addData);//add submit 버튼 -> addData()
			addModal.modal("show");
		});
		
		editCountryBtn.addEventListener('click',function(){
			document.getElementById("editModalLabel").innerText="국가 수정";
			//edit 창 데이터 세팅
			countryService.getCountries(1, function(result){
				setEditModalData("country",result);
			}, function(error){
				console.log(error);
				alert(error);
			});
			editModalSubmitBtn.addEventListener('click',modifyData);//edit submit 버튼 -> modifyData()
			editModal.modal("show");
		});
		/////////////////////////////////////////////////////////////////////////////////////////////////

	});

	// 초기 화면 세팅
	function setStatus(tableElementId, chartElementId, result) {
		const TableBody = document.getElementById(tableElementId).children[1];
		let nameList = [];
		let ratioList = [];
		let colorList = [];
		let bodyText = "";
		for (var i = 0; i < result.length; i++) {

			if (tableElementId.startsWith("asset")) {
				name = result[i].aName;
				ratio = result[i].aRatio;
			} else if (tableElementId.startsWith("country")) {
				name = result[i].cName;
				ratio = result[i].cRatio;
			}

			bodyText += "<tr><td>";
			bodyText += name;
			bodyText += "</td><td>";
			bodyText += ratio;
			bodyText += "%</td></tr>";

			nameList.push(name);
			ratioList.push(ratio);
			colorList.push(getColor());
		}
		TableBody.innerHTML = bodyText;

		pieChartService.setPieChart(chartElementId, nameList, ratioList,
				colorList);
	}
	
	// edit모달 초기데이터 세팅
	function setEditModalData(type, result){
		const table = document.getElementById("editModalTable");
		const thead = table.children[0];
		const tbody = table.children[1];
		
		if(type==="asset"){
			thead.innerHTML="<tr><th>자산</th><th>비율</th><th>삭제</th></tr>";
		}else if(type==="country"){
			thead.innerHTML="<tr><th>국가</th><th>비율</th><th>삭제</th></tr>";
		}
			
		let tbodyText = "";
		for(var i = 0;i<result.length;i++){
			tbodyText += "<tr>"
			if(type==="asset"){
				tbodyText += "<td>"+result[i].aName+"</td>"
			}else if(type==="country"){
				tbodyText += "<td>"+result[i].cName+"</td>"
			}
			tbodyText += "<td>"
			tbodyText += "	<div class=\"row\">"
			if(type==="asset"){
				tbodyText += "	<div class='col-6'><input class=\"form-control\" value=\""+result[i].aRatio+"\"></div>"
			}else if(type==="country"){
				tbodyText += "	<div class='col-6'><input class=\"form-control\" value=\""+result[i].cRatio+"\"></div>"
			}
			tbodyText += "		<div class='col-6'>%</div>"
			tbodyText += "	</div>"
			tbodyText += "</td>"
			tbodyText += "<td>"
			tbodyText += "	<div class='custom-control custom-checkbox small'>"
			tbodyText += "		<input type='checkbox' class='custom-control-input' id='customCheck"+i+"'>"
			tbodyText += "		<label class='custom-control-label' for='customCheck"+i+"'></label>"
			tbodyText += "	</div>"
			tbodyText += "</td>"
			tbodyText += "</tr>"
		}
		
		tbody.innerHTML = tbodyText;
	}
	
	// addModal 입력값 -> 백엔드로 송신
	function addData(){
		const inputData = document.getElementById("inputData");//추가 data
		const addModalLabel = document.getElementById("addModalLabel");//자산 추가 or 국가 추가
		
		console.log("addData : "+inputData.value);
		
		if(addModalLabel.innerText.startsWith("자산")){
			let asset = {
				uNo : 1,
				aName : inputData.value,
				aRatio : 0			
			};
			assetService.addAsset(asset,
				function(result){
					console.log(result);
					if(result === "success"){
						window.location.reload();
					}else{
						alert("Edit failed");
					}
				},function(error){
					console.log(error);
					alert(error)
				}
			);
		}else if(addModalLabel.innerText.startsWith("국가")){
			let country = {
				uNo : 1,
				cName : inputData.value,
				cRatio : 0			
			};
			countryService.addCountry(country,
				function(result){
					console.log(result);
					if(result === "success"){
						window.location.reload();
					}else{
						alert("Edit failed");
					}
				},function(error){
					console.log(error);
					alert(error)
				}
			);
		}
	}
	
	// editModal 입력값 -> 백엔드로 송신
	function modifyData(){
		const editModalTbl = document.getElementById("editModalTable");//수정 모달 테이블
		let cnt = editModalTbl.rows.length;

		let type = "";
		let deleteYn = "";
		let editDataList = [];
		let deleteDataList = [];
		for (var i = 0; i < cnt; i++) {
			if (i == 0) {
				type = editModalTbl.rows[i].cells[0].innerText;
			} else {
				deleteYn = editModalTbl.rows[i].cells[2].children[0].children[0].checked;
				console.log(deleteYn);
				if (type === "자산") {
					let asset = {
						uNo : 1,
						aName : null,
						aRatio : null
					};
					asset.aName = editModalTbl.rows[i].cells[0].innerText;
					asset.aRatio = editModalTbl.rows[i].cells[1].children[0].children[0].children[0].value;
					if(deleteYn === true){
						deleteDataList.push(asset);
					}else{
						editDataList.push(asset);
					}
				} else if (type === "국가") {
					let country = {
						uNo : 1,
						cName : null,
						cRatio : null
					}
					country.aName = editModalTbl.rows[i].cells[0].innerText;
					country.aRatio = editModalTbl.rows[i].cells[1].children[0].children[0].children[0].value;
					if(deleteYn){
						deleteDataList.push(asset);
					}else{
						editDataList.push(asset);
					}
					editDataList.push(country);
				}
			}
		}
		
		console.log("type : " + type);
		console.log(deleteDataList);
		console.log(editDataList);
		
		if(type === "자산"){
			if(deleteDataList.length>0){
				assetService.deleteAssets(deleteDataList, 
					function(result) {
						console.log(result);
						if(result === "success"){
							
						}else{
							alert("deleteAsset fail");
						}
					}, function(error) {
						console.log(error);
						alert(error)
					}
				);
			}
			assetService.modifyAssets(editDataList, 
				function(result) {
					console.log(result);
					if(result === "success"){
						window.location.reload();
					}else{
						alert("modifyAsset fail");
					}
				}, function(error) {
					console.log(error);
					alert(error)
				}
			);
		} else if (type === "국가") {
			if(deleteDataList.length>0){
				countryService.deleteCountries(deleteDataList, 
					function(result) {
						console.log(result);
						if(result === "success"){
							
						}else{
							alert("deleteAsset fail");
						}
					}, function(error) {
						console.log(error);
						alert(error)
					}
				);
			}
			countryService.modifyCountries(editDataList, 
				function(result) {
					console.log(result);
					if(result === "success"){
						window.location.reload();
					}else{
						alert("modifyAsset fail");
					}
				}, function(error) {
					console.log(error);
					alert(error)
				}
			);
		}

	}

	// 랜덤 Color 생성
	function getColor() {
		return "#" + Math.round(Math.random() * 0xffffff).toString(16);
	}
	
</script>
<th:block th:replace="includes/footer"></th:block>
</html>