<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="includes/header"></th:block>

<!-- Begin Page Content -->
<div class="container-fluid">

	<div class="container-fluid">

		<!-- Page Heading -->
		<h1 class="h3 mb-4 text-gray-800">설정 비율</h1>

		<div class="card shadow mb-4">
			<div
				class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">자산</h6>
				<div class="dropdown no-arrow">
					<a class="dropdown-toggle" href="#" role="button"
						id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> <i
						class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
					</a>
					<div
						class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
						aria-labelledby="dropdownMenuLink">
						<div class="dropdown-header">EDIT</div>
						<a class="dropdown-item" href="#" data-toggle="modal"
							data-target="#addModal">자산 추가</a> <a class="dropdown-item"
							href="#" data-toggle="modal" data-target="#editModal">비율 수정</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6 mb-4">
						<div class="card border-left-primary shadow h-100 py-2">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<table class="table table-bordered" cellspacing="0">
										<thead>
											<tr>
												<th>자산</th>
												<th>비율</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>주식</td>
												<td>50%</td>
											</tr>
											<tr>
												<td>채권</td>
												<td>30%</td>
											</tr>
											<tr>
												<td>원자재</td>
												<td>10%</td>
											</tr>
											<tr>
												<td>금</td>
												<td>5%</td>
											</tr>
											<tr>
												<td>달러</td>
												<td>5%</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb-4">
						<div class="card border-left-primary shadow h-100 py-2">
							<div class="card-body">
								<div class="chart-pie pt-4">
									<canvas id="myPieChart_1"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card shadow mb-4">
			<div
				class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">국가</h6>
				<div class="dropdown no-arrow">
					<a class="dropdown-toggle" href="#" role="button"
						id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> <i
						class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
					</a>
					<div
						class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
						aria-labelledby="dropdownMenuLink">
						<div class="dropdown-header">EDIT</div>
						<a class="dropdown-item" href="#" data-toggle="modal"
							data-target="#addModal">국가 추가</a> <a class="dropdown-item"
							href="#" data-toggle="modal" data-target="#editModal">비율 수정</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6 mb-4">
						<div class="card border-left-primary shadow h-100 py-2">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<table class="table table-bordered" cellspacing="0">
										<thead>
											<tr>
												<th>국가</th>
												<th>비율</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>미국</td>
												<td>50%</td>
											</tr>
											<tr>
												<td>한국</td>
												<td>30%</td>
											</tr>
											<tr>
												<td>국가분산</td>
												<td>10%</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb-4">
						<div class="card border-left-primary shadow h-100 py-2">
							<div class="card-body">
								<div class="chart-pie pt-4">
									<canvas id="myPieChart_2"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- /.container-fluid -->


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/js/asset.js"></script>
<script type="text/javascript" th:inline="javascript">
	document.addEventListener("DOMContentLoaded", function() {
		
		assetService.getAssets(
			{uno:1}
			,
			function(){}
		);
		
	});
</script>
<th:block th:replace="includes/footer"></th:block>
</html>