<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="includes/header"></th:block>

<!-- Begin Page Content -->
<div class="container-fluid">

	<div class="container-fluid">

		<!-- Page Heading -->
		<h1 class="h3 mb-4 text-gray-800">투자 현황</h1>

		<div class="card shadow mb-4">
			<div
				class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">종목 별 투자현황</h6>
				<div class="dropdown no-arrow">
					<a class="dropdown-toggle" role="button" id="dropdownMenuLink"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
					</a>
					<div
						class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
						aria-labelledby="dropdownMenuLink">
						<div class="dropdown-header">EDIT</div>
						<a id="addItemBtn" class="dropdown-item">투자목록 추가</a> <a
							id="editItemBtn" class="dropdown-item">투자목록 수정</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="col-md-auto mb-4">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="table-responsive">
								<table id="itemTable" class="table table-bordered">
									<thead>
										<tr>
											<th width="15%">구분</th>
											<th width="25%">종목</th>
											<th width="20%">가치</th>
											<th width="40%" colspan="2">비중</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-auto mb-4">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="chart-bar">
								<canvas id="myBarChart"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">자산 별 투자현황</h6>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6 mb-4">
						<div class="card border-left-primary shadow h-100 py-2">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>자산</th>
												<th>가치</th>
												<th>비중</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>주식</td>
												<td>819535</td>
												<td>9%</td>
											</tr>
											<tr>
												<td>채권</td>
												<td>728410</td>
												<td>8%</td>
											</tr>
											<tr>
												<td>원자재</td>
												<td>1038478</td>
												<td>11%</td>
											</tr>
											<tr>
												<td>달러</td>
												<td>405836</td>
												<td>4%</td>
											</tr>
											<tr>
												<td>금</td>
												<td>877052</td>
												<td>9%</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb-4">
						<div class="card border-left-primary shadow h-100 py-2">
							<div class="card-body">
								<div class="chart-pie pt-4">
									<canvas id="assetRatioPieChart"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">국가별 투자현황</h6>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6 mb-4">
						<div class="card border-left-primary shadow h-100 py-2">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th colspan="4">국가</th>
												<th>가치</th>
												<th>비중</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td rowspan="2">미국</td>
												<td>주식</td>
												<td>819535</td>
												<td>9%</td>
												<td rowspan="2">819535</td>
												<td rowspan="2">9%</td>
											</tr>
											<tr>
												<td>채권</td>
												<td>819535</td>
												<td>9%</td>
											</tr>
											<tr>
												<td rowspan="2">한국</td>
												<td>주식</td>
												<td>819535</td>
												<td>9%</td>
												<td rowspan="2">819535</td>
												<td rowspan="2">9%</td>
											</tr>
											<tr>
												<td>채권</td>
												<td>819535</td>
												<td>9%</td>
											</tr>
											<tr>
												<td rowspan="2">국가분산</td>
												<td>주식</td>
												<td>819535</td>
												<td>9%</td>
												<td rowspan="2">819535</td>
												<td rowspan="2">9%</td>
											</tr>
											<tr>
												<td>채권</td>
												<td>819535</td>
												<td>9%</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb-4">
						<div class="card border-left-primary shadow h-100 py-2">
							<div class="card-body">
								<div class="chart-pie pt-4">
									<canvas id="countryRatioPieChart"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.container-fluid -->

<script type="text/javascript" th:inline="javascript">

	/*
	* function : document.addEventListener
	* description : 화면 초기화
	*/
	document.addEventListener("DOMContentLoaded", function() {
		
		let itemList = null;
		// 투자현황 초기세팅
		itemService.getItems(1, function(result) {
			console.log(result);
			itemList = result;
			setStatus("itemTable", itemList);
		}, function(error) {
			catchError(error);
		});

		// 모달창 이벤트 추가
		const addItemModal = $("#addItemModal"); //추가 모달 창
		const editItemModal = $("#editItemModal"); //수정 모달 창
		const addItemModalSubmitBtn = document.getElementById("addItemModalSubmitBtn");//추가 모달 Submit 버튼
		const editItemModalSubmitBtn = document.getElementById("editItemModalSubmitBtn");//수정 모달 Submit 버튼
		const editItemModalTable = document.getElementById("editItemModalTable");//수정 모달 테이블

		// Item 모달 이벤트 설정 //////////////////////////////////////////////////////////////////////////
		const addItemBtn = document.getElementById("addItemBtn"); //자산 추가 버튼
		const editItemBtn = document.getElementById("editItemBtn");//자산 비율수정 버튼

		addItemBtn.addEventListener('click', function() {
			//국가목록 setting
			countryService.getCountries(1, function(result){
				setAddItemModalSelbox("countrySelect",result);
			}, function(error){
				catchError(error);
			});
			
			//자산목록 setting
			assetService.getAssets(1, function(result){
				setAddItemModalSelbox("assetSelect",result);
			}, function(error){
				catchError(error);
			});
			
			addItemModalSubmitBtn.addEventListener('click',addData);//add submit 버튼 -> addData()
			addItemModal.modal("show");
		});

		editItemBtn.addEventListener('click', function() {
			//edit 창 데이터 세팅
			setEditModalData(itemList);
			editItemModalSubmitBtn.addEventListener('click',modifyData);//edit submit 버튼 -> modifyData()
			editItemModal.modal("show");
		});

		nameList = [ "A", "B", "C" ];
		ratioList = [ 10, 20, 30 ];
		colorList = [];
		for (var i = 0; i < 3; i++) {
			colorList.push(getColor());
		}

		pieChartService.setPieChart("assetRatioPieChart", nameList, ratioList, colorList);
		pieChartService.setPieChart("countryRatioPieChart", nameList, ratioList, colorList);
	});
	
	/*
	* function : setStatus
	* description : 투자현황 테이블 데이터세팅
	*/
	function setStatus(id, result){
		const tableBody = document.getElementById(id).children[1];
		const assetNumList = result.assetNumList;
		const keys = Object.keys(assetNumList);

		var rowspanNums = [];
		rowspanNums.push(0);
		for(var i = 0; i<keys.length-1; i++){
			var nextNum = rowspanNums[rowspanNums.length-1]+assetNumList[keys[i]];
			rowspanNums.push(nextNum);
		}
		console.log(rowspanNums);
		
		const maxRatio = result.maxRatio;
		const itemList = result.itemList;
		let bodyText = "";
		for(var i = 0; i<itemList.length; i++){
			bodyText+="<tr>";
			for(var j = 0; j<rowspanNums.length; j++){
				if(i==rowspanNums[j]){
					bodyText+="<td rowspan="+assetNumList[keys[j]]+">"+keys[j]+"</td>";
				}
			} 
			bodyText+="	<td>"+itemList[i].iName+"</td>";
			bodyText+=" <td>"+itemList[i].iPrice*itemList[i].iNum+"</td>";
			bodyText+=" <td width=\"10%\">"+itemList[i].iRatio+"%</td>";
			bodyText+=" <td width=\"90%\">";
			bodyText+="  <div class=\"progress\">";
			bodyText+="   <div class=\"progress-bar\" role=\"progressbar\"style=\"width: "+itemList[i].iRatio/maxRatio*100+"%\"></div>";
			bodyText+="  </div>";
			bodyText+=" </td>";
			bodyText+="</tr>";
		}
		tableBody.innerHTML=bodyText;
	}
	
	/*
	* function : setAddItemModalSelbox
	* description : addItemModal selectbox 데이터 세팅
	*/
	function setAddItemModalSelbox(id, result){
		const selectBox = document.getElementById(id);
		let bodyText = "";
				
		if(id==="countrySelect"){
			bodyText+="<option selected=\"selected\">국가 선택</option>";
			for(var i=0;i<result.length;i++){
				bodyText+="<option value="+result[i].cNo+">"+result[i].cName+"</option>";
			}
			bodyText+="<option value='0'>없음</option>";
		}else if(id==="assetSelect"){
			bodyText+="<option selected=\"selected\">자산 선택</option>";
			for(var i=0;i<result.length;i++){
				bodyText+="<option value="+result[i].aNo+">"+result[i].aName+"</option>";
			}
		}
		
		selectBox.innerHTML=bodyText;		
	}
	
	/*
	* function : setEditModalData
	* description : edit모달 초기데이터 세팅
	*/
	function setEditModalData(result){
		const table = document.getElementById("editItemModalTable");
		const tbody = table.children[1];
		const itemList = result.itemList;
		const countryList = result.countryList;
		const assetList = Object.keys(result.assetNumList);
					
		let tbodyText = "";
		for(var i = 0;i<itemList.length;i++){
			tbodyText += "<tr>";
			tbodyText += "<td class=\"d-none\">"+itemList[i].iNo+"</td>"
			tbodyText += " <td>";
			tbodyText += "  <select class=\"form-control\" name=\"job\">";
			tbodyText += "   <option value=\"\" selected=\"selected\">"+itemList[i].aName+"</option>";
			for(var j = 0;j<assetList.length;j++){
				if(assetList[j] !== itemList[i].aName)
					tbodyText += "<option value="+assetList[j]+">"+assetList[j]+"</option>";
			}
			tbodyText += "  </select>";
			tbodyText += " </td>";
			tbodyText += " <td>";
			tbodyText += "  <select class=\"form-control\" name=\"job\">";
			if(itemList[i].cName === null)
				tbodyText += "   <option value=\"\" selected=\"selected\">없음</option>";
			else
				tbodyText += "   <option value=\"\" selected=\"selected\">"+itemList[i].cName+"</option>";
			for(var j = 0;j<countryList.length;j++){
				if(countryList[j] !== itemList[i].cName)
					tbodyText += "<option value="+countryList[j]+">"+countryList[j]+"</option>";
			}
			tbodyText += "  </select>";
			tbodyText += " </td>";
			tbodyText += " <td><div><input class=\"form-control\" value=\""+itemList[i].iName+"\"></div></td>";
			tbodyText += " <td><div><input class=\"form-control\" value=\""+itemList[i].iPrice+"\"></div></td>";
			tbodyText += " <td><div><input class=\"form-control\" value=\""+itemList[i].iNum+"\"></div></td>";
			tbodyText += "</tr>";  
		}
		
		tbody.innerHTML = tbodyText;
	}

	
	/*
	* function : addData
	* description : Item 추가 -> BackEnd 전송, reload
	*/
	function addData(){
		const addItemForm = document.getElementById("addItemForm");
		const formData = new FormData(addItemForm);
		
		console.log(formData);
		
		let object = {};
		formData.forEach((value, key) => {
			if (!Reflect.has(object, key)) {
				if(value==="0")
					return;
		    	object[key] = value;
		      	return;
		    }

		    if (!Array.isArray(object[key])) {
		    	object[key] = [object[key]];
		    }
		    object[key].push(value);
		});
		let json = JSON.stringify(object);
		console.log(json);

		itemService.addItem(json,function(result){
			console.log(result);
			if(result === "success"){
				reload();
			}else{
				alert("add failed");
			}
		},function(error){
			catchError(error);
		})
	}
	
	/*
	* function : modifyData
	* description : Item 수정 -> BackEnd 전송, reload
	*/
	function modifyData(){
		
	}
	
</script>
<th:block th:replace="includes/footer"></th:block>
</html>