<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="includes/header"></th:block>

<!-- Begin Page Content -->
<div class="container-fluid">

	<div class="container-fluid">

		<!-- Page Heading -->
		<h1 class="h3 mb-4 text-gray-800">투자 현황</h1>

		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">종목 별 투자현황</h6>
			</div>
			<div class="card-body">
				<div class="col-md-auto mb-4">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th width="15%">구분</th>
											<th width="25%">종목</th>
											<th width="20%">가치</th>
											<th width="40%" colspan="2">비중</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td rowspan="7">주식</td>
											<td>KODEX 200TR</td>
											<td>819535</td>
											<td width="10%">9%</td>
											<td width="90%">
												<div class="progress">
													<div class="progress-bar" role="progressbar"
														style="width: 90%"></div>
												</div>
											</td>
										</tr>
										<tr>
											<td>KBSTAR 대형고배당10TR</td>
											<td>728410</td>
											<td>8%</td>
											<td>
												<div class="progress">
													<div class="progress-bar" role="progressbar"
														style="width: 80%"></div>
												</div>
											</td>
										</tr>
										<tr>
											<td>SPY</td>
											<td>1038478</td>
											<td>11%</td>
											<td>
												<div class="progress">
													<div class="progress-bar" role="progressbar"
														style="width: 11%" aria-valuenow="11" aria-valuemin="0"
														aria-valuemax="100"></div>
												</div>
											</td>
										</tr>
										<tr>
											<td>DIA</td>
											<td>405836</td>
											<td>4%</td>
											<td>
												<div class="progress">
													<div class="progress-bar" role="progressbar"
														style="width: 4%" aria-valuenow="4" aria-valuemin="0"
														aria-valuemax="100"></div>
												</div>
											</td>
										</tr>
										<tr>
											<td>QQQ</td>
											<td>877052</td>
											<td>9%</td>
											<td>
												<div class="progress">
													<div class="progress-bar" role="progressbar"
														style="width: 9%" aria-valuenow="9" aria-valuemin="0"
														aria-valuemax="100"></div>
												</div>
											</td>
										</tr>
										<tr>
											<td>ARKK</td>
											<td>562892</td>
											<td>6%</td>
											<td>
												<div class="progress">
													<div class="progress-bar" role="progressbar"
														style="width: 9%" aria-valuenow="50" aria-valuemin="0"
														aria-valuemax="100"></div>
												</div>
											</td>
										</tr>
										<tr>
											<td>VT</td>
											<td>980799</td>
											<td>10%</td>
											<td>
												<div class="progress">
													<div class="progress-bar" role="progressbar"
														style="width: 9%" aria-valuenow="50" aria-valuemin="0"
														aria-valuemax="100"></div>
												</div>
											</td>
										</tr>
										<tr>
											<td rowspan="5">채권</td>
											<td>TIGER 중장기국채</td>
											<td>728980</td>
											<td>8%</td>
											<td>
												<div class="progress">
													<div class="progress-bar" role="progressbar"
														style="width: 9%" aria-valuenow="50" aria-valuemin="0"
														aria-valuemax="100"></div>
												</div>
											</td>
										</tr>
										<tr>
											<td>TLT</td>
											<td>355705</td>
											<td>4%</td>
											<td>
												<div class="progress">
													<div class="progress-bar" role="progressbar"
														style="width: 9%" aria-valuenow="50" aria-valuemin="0"
														aria-valuemax="100"></div>
												</div>
											</td>
										</tr>
										<tr>
											<td>IEF</td>
											<td>549185</td>
											<td>6%</td>
											<td>
												<div class="progress">
													<div class="progress-bar" role="progressbar"
														style="width: 9%" aria-valuenow="50" aria-valuemin="0"
														aria-valuemax="100"></div>
												</div>
											</td>
										</tr>
										<tr>
											<td>SCHP</td>
											<td>445132</td>
											<td>5%</td>
											<td>
												<div class="progress">
													<div class="progress-bar" role="progressbar"
														style="width: 9%" aria-valuenow="50" aria-valuemin="0"
														aria-valuemax="100"></div>
												</div>
											</td>
										</tr>
										<tr>
											<td>BNDW</td>
											<td>475280</td>
											<td>5%</td>
											<td>
												<div class="progress">
													<div class="progress-bar" role="progressbar"
														style="width: 9%" aria-valuenow="50" aria-valuemin="0"
														aria-valuemax="100"></div>
												</div>
											</td>
										</tr>
										<tr>
											<td>원자재</td>
											<td>BCI</td>
											<td>793113</td>
											<td>8%</td>
											<td>
												<div class="progress">
													<div class="progress-bar" role="progressbar"
														style="width: 9%" aria-valuenow="50" aria-valuemin="0"
														aria-valuemax="100"></div>
												</div>
											</td>
										</tr>
										<tr>
											<td>금 현물</td>
											<td>KRK 금 현물</td>
											<td>432893</td>
											<td>5%</td>
											<td>
												<div class="progress">
													<div class="progress-bar" role="progressbar"
														style="width: 9%" aria-valuenow="50" aria-valuemin="0"
														aria-valuemax="100"></div>
												</div>
											</td>
										</tr>
										<tr>
											<td>달러</td>
											<td>달러RP</td>
											<td>414527</td>
											<td>4%</td>
											<td>
												<div class="progress">
													<div class="progress-bar" role="progressbar"
														style="width: 9%" aria-valuenow="9" aria-valuemin="0"
														aria-valuemax="10"></div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-auto mb-4">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="chart-bar">
								<canvas id="myBarChart"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">자산 별 투자현황</h6>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6 mb-4">
						<div class="card border-left-primary shadow h-100 py-2">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>자산</th>
												<th>가치</th>
												<th>비중</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>주식</td>
												<td>819535</td>
												<td>9%</td>
											</tr>
											<tr>
												<td>채권</td>
												<td>728410</td>
												<td>8%</td>
											</tr>
											<tr>
												<td>원자재</td>
												<td>1038478</td>
												<td>11%</td>
											</tr>
											<tr>
												<td>달러</td>
												<td>405836</td>
												<td>4%</td>
											</tr>
											<tr>
												<td>금</td>
												<td>877052</td>
												<td>9%</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb-4">
						<div class="card border-left-primary shadow h-100 py-2">
							<div class="card-body">
								<div class="chart-pie pt-4">
									<canvas id="assetRatioPieChart"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">국가별 투자현황</h6>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6 mb-4">
						<div class="card border-left-primary shadow h-100 py-2">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th colspan="4">국가</th>
												<th>가치</th>
												<th>비중</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td rowspan="2">미국</td>
												<td>주식</td>
												<td>819535</td>
												<td>9%</td>
												<td rowspan="2">819535</td>
												<td rowspan="2">9%</td>
											</tr>
											<tr>
												<td>채권</td>
												<td>819535</td>
												<td>9%</td>
											</tr>
											<tr>
												<td rowspan="2">한국</td>
												<td>주식</td>
												<td>819535</td>
												<td>9%</td>
												<td rowspan="2">819535</td>
												<td rowspan="2">9%</td>
											</tr>
											<tr>
												<td>채권</td>
												<td>819535</td>
												<td>9%</td>
											</tr>
											<tr>
												<td rowspan="2">국가분산</td>
												<td>주식</td>
												<td>819535</td>
												<td>9%</td>
												<td rowspan="2">819535</td>
												<td rowspan="2">9%</td>
											</tr>
											<tr>
												<td>채권</td>
												<td>819535</td>
												<td>9%</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb-4">
						<div class="card border-left-primary shadow h-100 py-2">
							<div class="card-body">
								<div class="chart-pie pt-4">
									<canvas id="countryRatioPieChart"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->

<script type="text/javascript" th:inline="javascript">

	//화면 초기화
	document.addEventListener("DOMContentLoaded", function() {
		
		nameList = ["A","B","C"];
		ratioList = [10,20,30];
		colorList = [];
		for(var i=0;i<3;i++){
			colorList.push(getColor());
		}
		
		pieChartService.setPieChart("assetRatioPieChart", nameList, ratioList, colorList);
		pieChartService.setPieChart("countryRatioPieChart",nameList, ratioList, colorList);
	});
</script>
<th:block th:replace="includes/footer"></th:block>
</html>