<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myport.mapper.ItemMapper">

    <insert id="insert">
        INSERT INTO TBL_ITEM (U_NO,C_NO,A_NO,I_NAME,I_PRICE,I_NUM)
        VALUES (#{uNo},#{cNo},#{aNo},#{iName},#{iPrice},#{iNum})
    </insert>

    <select id = "getList" resultType="com.myport.domain.ItemVo">
        SELECT * FROM TBL_ITEM
        <where>
            <if test="uNo != null">
                U_NO = #{uNo}
            </if>
            <if test="cNo != null">
                AND
                C_NO = #{cNo}
            </if>
            <if test="aNo != null">
                AND
                A_NO = #{aNo}
            </if>
            <if test="iName != null">
                AND
                I_NAME = #{iName}
            </if>
        </where>
    </select>

    <select id = "select" resultType="com.myport.domain.ItemVo">
        SELECT * FROM TBL_ITEM
        WHERE I_NO = #{iNo}
    </select>

    <select id = "selectKey" resultType="Long">
        SELECT I_NO FROM TBL_ITEM
        WHERE
            U_NO = #{uNo}
        AND
            C_NO = #{cNo}
        AND
            A_NO = #{aNo}
        AND
            I_NAME = #{iName}
    </select>

    <update id="update">
        UPDATE TBL_ITEM
        SET
        <if test="iName != null">
            I_NAME = #{iName},
        </if>
        <if test="iPrice != null">
            I_PRICE = #{iPrice},
        </if>
        <if test="iNum != null">
            I_NUM = #{iNum},
        </if>
        I_UPDATEDATE = to_char(sysdate, 'YYYY/MM/DD HH24:MI:SS')
        WHERE I_NO = #{iNo}
    </update>

    <delete id="delete">
        DELETE TBL_ITEM
        WHERE I_NO = #{iNo}
    </delete>

</mapper>