<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myport.mapper.AssetMapper">

	<insert id="addAsset">
		INSERT INTO TBL_ASSET(U_NO,A_NAME,A_RATIO)
		VALUES (#{uNo},#{aName},#{aRatio})
	</insert>

	<select id="retrieveAssets" resultType="myport.domain.vo.AssetVo">
		<![CDATA[
			SELECT *
			FROM TBL_ASSET
			WHERE U_NO = #{uNo}
			ORDER BY A_RATIO DESC
		]]>
	</select>
	
	<update id="modifyAssets">
		<![CDATA[
			UPDATE TBL_ASSET
			SET 
				A_NAME = #{aName},
				A_RATIO = #{aRatio},
				A_UPDATEDATE = to_char(sysdate, 'YYYYMMDD HH24:MI:SS')
			WHERE A_NO = #{aNo}
		]]>
	</update>
	
	<delete id="deleteAsset">
		<![CDATA[
			DELETE TBL_ASSET
			WHERE A_NO = #{aNo}
		]]>
	</delete>

</mapper>