<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myport.mapper.AssetMapper">

	<insert id="addAsset">
		INSERT INTO TBL_ASSET(U_NO,A_NAME,A_RATIO)
		VALUES (#{uNo},#{aName},#{aRatio})
	</insert>

	<select id="retrieveAssets" resultType="myport.domain.AssetVo">
		<![CDATA[
			SELECT *
			FROM TBL_ASSET
			WHERE U_NO = #{uNo}
		]]>
	</select>

</mapper>