<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myport.mapper.CountryMapper">

	<insert id="addCountry">
		INSERT INTO TBL_COUNTRY(U_NO,C_NAME,C_RATIO)
		VALUES
		(#{uNo},#{cName},#{cRatio})
	</insert>

	<select id="retrieveCountries"
		resultType="myport.domain.vo.CountryVo">
		<![CDATA[
			SELECT *
			FROM TBL_COUNTRY
			WHERE U_NO = #{uNo}
			ORDER BY C_RATIO DESC
		]]>
	</select>

	<update id="modifyCountry">
		<![CDATA[
			UPDATE TBL_COUNTRY
			SET 
				C_NAME = #{cName},
				C_RATIO = #{cRatio},
				C_UPDATEDATE = to_char(sysdate, 'YYYYMMDD HH24:MI:SS')
			WHERE C_NO = #{cNo}
		]]>
	</update>

	<delete id="deleteCountry">
		<![CDATA[
			DELETE TBL_COUNTRY
			WHERE C_NO = #{cNo}
		]]>
	</delete>

	<select id="getCName" resultType="String">
		<![CDATA[
			SELECT C_NAME
			FROM TBL_COUNTRY
			WHERE C_NO = #{cNo}
		]]>
	</select>
	
	<select id="getCNo" resultType="Long">
		<![CDATA[
			SELECT C_NO
			FROM TBL_COUNTRY
			WHERE U_NO = #{uNo}
			AND C_NAME = #{cName}
		]]>
	</select>

</mapper>