<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myport.mapper.ItemMapper">

	<insert id="addItem">
		INSERT INTO TBL_ITEM(U_NO,A_NO,I_NAME,I_PRICE,I_NUM
 		 <if test="cNo!=null and !cNo.equals('')">
			,C_NO
		</if>
		)VALUES (#{uNo},#{aNo},#{iName},#{iPrice},#{iNum}
		<if test="cNo!=null and !cNo.equals('')">
			,#{cNo}
		</if>
		)
	</insert>

	<select id="retrieveItems" resultType="myport.domain.vo.ItemVo">
		<![CDATA[
			SELECT *
			FROM TBL_ITEM
			WHERE U_NO = #{uNo}
			ORDER BY I_NO ASC
		]]>
	</select>
	
	<select id="getTotalPrice" resultType="Long">
		<![CDATA[
			SELECT SUM(I_PRICE*I_NUM)
			FROM TBL_ITEM
			WHERE U_NO = #{uNo}
		]]>
	</select>
	
	<update id="modifyItems">
		<![CDATA[
			UPDATE TBL_ITEM
			SET 
				U_NO = #{uNo},
				C_NO = #{cNo, jdbcType = INTEGER},
				I_NAME = #{iName},
				I_PRICE = #{iPrice},
				I_NUM = #{iNum},
				I_UPDATEDATE = to_char(sysdate, 'YYYYMMDD HH24:MI:SS')
			WHERE I_NO = #{iNo}
		]]>
	</update>
	
	<!-- 
	<delete id="deleteAsset">
		<![CDATA[
			DELETE TBL_ASSET
			WHERE A_NO = #{aNo}
		]]>
	</delete> -->

</mapper>