<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myport.mapper.ItemMapper">

	<insert id="addItem">
		INSERT INTO TBL_ITEM(U_NO,C_NO,A_NO,I_NAME,I_PRICE,I_NUM)
		VALUES (#{uNo},#{cNo},#{Ano},#{iName},#{iPrice},#{iNum})
	</insert>

	<!-- <select id="retrieveAssets" resultType="myport.domain.vo.AssetVo">
		<![CDATA[
			SELECT *
			FROM TBL_ASSET
			WHERE U_NO = #{uNo}
			ORDER BY A_RATIO DESC
		]]>
	</select>
	
	<update id="modifyAssets">
		<![CDATA[
			UPDATE TBL_ASSET
			SET 
				A_NAME = #{aName},
				A_RATIO = #{aRatio},
				A_UPDATEDATE = to_char(sysdate, 'YYYY/MM/DD HH24:MI:SS')
			WHERE A_NO = #{aNo}
		]]>
	</update>
	
	<delete id="deleteAsset">
		<![CDATA[
			DELETE TBL_ASSET
			WHERE A_NO = #{aNo}
		]]>
	</delete> -->

</mapper>