<html>
</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
	<div class="container my-auto">
		<div class="copyright text-center my-auto">
			<span>Copyright &copy; Your Website 2021</span>
		</div>
	</div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top"> <i
	class="fas fa-angle-up"></i>
</a>

<!-- 목록 추가 Modal-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addModalLabel"></h5>
				<button class="close" type="button" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				추가할 목록의 이름을 입력하세요
				<div class="form-group">
					<input class="form-control" id='inputData'>
				</div>
			</div>
			<div class="modal-footer">
				<button id="addModalSubmitBtn" type="button" class="btn btn-primary">입력</button>
				<button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
			</div>
		</div>
	</div>
</div>

<!-- 목록 수정 Modal-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editModalLabel"></h5>
				<button class="close" type="button" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<div class="mb-4">
						<div class="card border-left-primary shadow h-100 py-2">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<table id="editModalTable" class="table table-bordered">
										<thead></thead>
										<tbody></tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id="editModalSubmitBtn"
					class="btn btn-warning">저장</button>
				<button class='btn btn-default' type="button" data-dismiss="modal">취소</button>
			</div>
		</div>
	</div>
</div>

<!-- 투자목록 추가 Modal-->
<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">투자목록 추가</h5>
				<button class="close" type="button" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<form id="addItemForm">
				<div class="modal-body">
					<input type="hidden" value='1' name='uNo'/>
					<div class="form-group">
						<label>이름</label> <input class="form-control" name='iName'>
					</div>
					<div class="form-group row">
						<div class="col-sm-6 mb-3 mb-sm-0">
							<label>가격</label> <input class="form-control" name='iPrice'>
						</div>
						<div class="col-sm-6">
							<label>갯수</label> <input class="form-control" name='iNum'>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6">
							<label>국가 구분</label>
							<select id="countrySelect" class="form-control" name='cNo'>
							</select>
						</div>
						<div class="col-sm-6 mb-3 mb-sm-0">
							<label>자산 구분</label> 
							<select id="assetSelect" class="form-control" name="aNo">
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button id="addItemModalSubmitBtn" class="btn btn-primary" type="button"
						data-dismiss="modal">입력</button>
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">취소</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!--투자목록 수정 Modal-->
<div class="modal modal-lg fade" id="editItemModal" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">투자목록 수정</h5>
				<button class="close" type="button" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<div class="mb-4">
						<div class="card border-left-primary shadow h-100 py-2">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<table id="editItemModalTable" class="table table-bordered">
										<thead>
											<tr>
												<th>국가</th>
												<th>자산</th>
												<th>이름</th>
												<th>가격</th>
												<th>갯수</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><select class="form-control" name="job">
														<option value="" selected="selected">국가 선택</option>
														<option value="미국">미국</option>
														<option value="한국">한국</option>
														<option value="국가분산">국가분산</option>
												</select></td>
												<td><select class="form-control" name="job">
														<option value="" selected="selected">자산 선택</option>
														<option value="주식">주식</option>
														<option value="채권">채권</option>
														<option value="원자재">원자재</option>
														<option value="금">금</option>
														<option value="달러RP">달러RP</option>
												</select></td>
												<td>KODEX 200TR</td>
												<td>819535</td>
												<td>1</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id="editItemModalSubmitBtn"
					class="btn btn-warning">저장</button>
				<button class='btn btn-default' type="button" data-dismiss="modal">취소</button>
			</div>
		</div>
	</div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/utils/chart-area-demo.js"></script>
<script src="/js/utils/chart-pie.js"></script>
<script src="/js/utils/chart-bar.js"></script>
<script src="/js/utils/datatables-demo.js"></script>

</body>

</html>