<html>
</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
	<div class="container my-auto">
		<div class="copyright text-center my-auto">
			<span>Copyright &copy; Your Website 2021</span>
		</div>
	</div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top"> <i
	class="fas fa-angle-up"></i>
</a>

<!-- 목록 추가 Modal-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">목록 추가</h5>
				<button class="close" type="button" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				추가할 목록의 이름을 입력하세요
				<div class="form-group">
					<input class="form-control" name='title'>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">입력</button>
				<button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
			</div>
		</div>
	</div>
</div>

<!-- 목록 수정 Modal-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">목록 수정</h4>
				<button class="close" type="button" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<div class="mb-4">
						<div class="card border-left-primary shadow h-100 py-2">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<table class="table table-bordered" cellspacing="0">
										<thead>
											<tr>
												<th>자산</th>
												<th>비율</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>주식</td>
												<td>
													<div class="row">
														<div class='col-6'>
															<input class="form-control" value="50">
														</div>
														<div class='col-6'>%</div>
													</div>
												</td>
											</tr>
											<tr>
												<td>채권</td>
												<td>
													<div class="row">
														<div class='col-6'>
															<input class="form-control" value="30">
														</div>
														<div class='col-6'>%</div>
													</div>
												</td>
											</tr>
											<tr>
												<td>원자재</td>
												<td>
													<div class="row">
														<div class='col-6'>
															<input class="form-control" value="10">
														</div>
														<div class='col-6'>%</div>
													</div>
												</td>
											</tr>
											<tr>
												<td>금</td>
												<td>
													<div class="row">
														<div class='col-6'>
															<input class="form-control" value="5">
														</div>
														<div class='col-6'>%</div>
													</div>
												</td>
											</tr>
											<tr>
												<td>달러</td>
												<td>
													<div class="row">
														<div class='col-6'>
															<input class="form-control" value="5">
														</div>
														<div class='col-6'>%</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id='modalModBtn' type="button" class="btn btn-warning">저장</button>
				<button class='btn btn-default' type="button" data-dismiss="modal">취소</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/chart.js/Chart.min.js"></script>
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/chart-area-demo.js"></script>
<script src="/js/demo/chart-pie-demo.js"></script>
<script src="/js/demo/datatables-demo.js"></script>

</body>

</html>